div#cont {
    width: 350px;
    height: 300px;
    margin-left: 30%;
    position: relative;
    cursor: crosshair;
}
canvas {
    position: absolute;}
img#canvas {
    width:100%;
    height:100%;
    position: absolute;
}
textarea {
    margin-left:  30%;
    width: 40%;
}
button.c {
    margin-left: 60%;
    width: 12%;
    margin-bottom: 7px;
    margin-top: 10px;
}
p.a {
    margin-left: 30%;
}
ul.b {
    margin-left: 30%;
}
li {
    list-style-type: none;
}
button {
    border: 0;
}
li.end {
    background-image: url("../res/drawable/folder.png");
    background-repeat: no-repeat;
    text-indent: 1cm;
    list-style: none;
}
li.plus {
    background-image: url("../res/drawable/exp.png");
    background-repeat: no-repeat;
    text-indent: 1.359cm;
    margin-left: -1.1%;
}

#dev {
    width: 30%;
    position: fixed;
    margin-bottom: 100%;
    top: 2cm;
    margin-left: -10%;
}

#delete_image{

}

.textarea{
    border-radius: 5px;
}
#name2{
    font-family: "Times New Roman";
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin-right: 53%;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#upload2{
    width:50%;
}

#upload3{
    position: relative;
    margin-left:30%;
}
