#button_new_project{
    border-radius: 5px;
    margin-left: 30%;
}
#button_new_project2{
    margin-left: 30%;
    margin-right: -5%;
}
select.LeftScrollBlock{
    overflow:auto;
    border:none;
}
ul.parent{
    margin-left: 0.1%;
    top: 1cm;
}
option.icon {
    background-image: url("../res/drawable/folder.png");
    background-repeat: no-repeat;
    text-indent: 1cm;
}
a.url{
    color:black;
    text-decoration:none;
}

div.alph{
    opacity: 0.5;
}

li.icon {
    background-image: url("../res/drawable/folder.png");
    background-repeat: no-repeat;
    text-indent: 1cm;
    list-style: none;
    cursor: pointer;
    list-style-image: url("../res/drawable/smail.png");
}

li.icon4 {
    background-image: url("../res/drawable/image.png");
    background-repeat: no-repeat;
    text-indent: 1cm;
    list-style: none;
    cursor: pointer;
    list-style-image: url("../res/drawable/smail.png");
}

li.icon3 {
    background-image: url("../res/drawable/folder.png");
    background-repeat: no-repeat;
    cursor: pointer;
    text-indent: 1cm;
    list-style: none;
    margin-left: 0.25%;
}

li.icon2 {
    background-image: url("../res/drawable/krasivayafotochka.png");
    background-repeat: no-repeat;
    text-indent: 1.359cm;
    list-style: none;
    cursor: pointer;
    margin-left: -1.45%;
}

#main_header{
    text-align: center;
}
tr.input{
    text-align: center;
}
#button_new_project{

    padding-right: 30%;
}

#spisok{
    position: relative;
    left: 30%;
    background-color: white;
    opacity: 1;
}
.ulli{
    background-color: white;
}
ul{
    background-color: white;
}
li{
    background-color: white;
}
a{
    background-color: white;
}

.alert{
    background-color: white;
    border-color: white;
    border: inherit;
    padding: 0;

}
.alert-success{
    background-color: white;
    border-color: white;
    border: inherit;
    padding: 0;
}

#back_button{
    position: relative;
    margin-left: 1cm;
    margin-top: 1cm;
}

#top_navbar{

}

#add_button{

}
#input{
    margin-left: 20%;

    width: auto;
}

#bottom-header{
    display: inline;
}
#check{
    float: right;
}

#twobuttons{
    text-align: center;
}

#button_choose_image{
    margin-right: 10px;
}

