#button_new_project{
    border-radius: 5px;
    margin-left: 30%;
}
#button_new_project2{
    margin-left: 30%;
    margin-right: -5%;
}
select.LeftScrollBlock{
    overflow:auto;
    border:none;
}
ul.parent{
    margin-left: 0.1%;
    top: 1cm;
}
option.icon {
    background-image: url("../res/drawable/folder.png");
    background-repeat: no-repeat;
    text-indent: 1cm;
}
a.url{
    color:black;
    text-decoration:none;
}
li.icon {
    background-image: url("../res/drawable/folder.png");
    background-repeat: no-repeat;
    text-indent: 1cm;
    list-style: none;
    list-style-image: url("../res/drawable/smail.png");
}

li.icon4 {
    background-image: url("../res/drawable/image.png");
    background-repeat: no-repeat;
    text-indent: 1cm;
    list-style: none;
    list-style-image: url("../res/drawable/smail.png");
}

li.icon3 {
    background-image: url("../res/drawable/folder.png");
    background-repeat: no-repeat;
    text-indent: 1cm;
    list-style: none;
    margin-left: 0.25%;
}

li.icon2 {
    background-image: url("../res/drawable/krasivayafotochka.png");
    background-repeat: no-repeat;
    text-indent: 1.359cm;
    list-style: none;
    margin-left: -1.45%;
}

#main_header{
    text-align: center;
}
tr.input{
    text-align: center;
}
#button_new_project{

    padding-right: 30%;
}

#spisok{
    position: relative;
    left: 30%;
}


